#Ignoriere die komplette env-Datei
env/

# Ignoriere die .env-Datei im Videoflix-Ordner
videoflix/.env

#Ignoriere die media-Datei
media

*.pyc
__pycache__/

#Ignore Docker file
.dockerignore
docker-compose.yml
Dockerfile
dockerstart.bat

#Ignore various files
start.bat
migration.bat